/*tablet-4.css */
	@media only screen and (min-width: 768px)
{
		.col-s-1 {width: 8.33%;} 
		.col-s-2 {width: 16.66%;}
		.col-s-3 {width: 25%;}
		.col-s-4 {width: 33.33%;}
		.col-s-5 {width: 41.66%;}
		.col-s-6 {width: 50%;}
		.col-s-7 {width: 58.33%;}
		.col-s-8 {width: 66.66%;}
		.col-s-9 {width: 75%;}
		.col-s-10 {width: 83.33%;}
		.col-s-11 {width: 91.66%;}
		.col-s-12 {width: 100%;}
			
		#header{	
		background-image: url("Chua_Boc_bg.jpg");}
		
		.float_left{
		margin-left: 15px;
		margin-right: 15px;}
		
		.h1{	
			margin-left:15px;
			font-size:35px;}
	
		h3{
			color:white;
			margin-left:15px;
			padding-top:30px;
			font-size: 35px;}
			
		p{
			margin-left:15px;
			font-size:13px;}
		
		.p1{
			color:white;
			padding-top: 5px;
			padding-bottom: 30px;}
		
		
		.p3{
			color:white;
			margin-top:-30px;}
		
		li{	
			font-size:12px;
			margin: 45px 30px 15px -20px;}
			
		img{	
			margin-top: 25px;
			margin-bottom: 15px;}
	}
